category-encoders==*
click==*
cloudpickle==*
cycler==*
Flask==*
Flask-WTF==*
itsdangerous==*
Jinja2==*
numpy==*
pandas==*
Pillow==*
scikit-learn==*
scipy==*
sklearn==*
statsmodels==*
tqdm==*
Werkzeug==*
WTForms==*
xgboost==*

