{% extends 'base.html' %}

{% block content %}

<div class='jumbotron' align="center">
	<img src='static/IMG/reel.jpeg' alt='MOVIE REEL' style='width:1940px;height:500px;' class='img-fluid'/>
	<h2 align="center"> LAURENCE'S MOVIE RECOMMENDER </h2>
	<br>
	<h4 align="center"> Pick a movie and we'll recommend other movies based on your choice </h4>
	<br>
	<h4 align="center"> You also get to decide what model recommends your movies to you </h4>
	<br>
	
	<h1 align="center">&#128540;</h1>
</div>


{% endblock %}